@import "../../base";

.filterBar {
  width: 85%;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  margin-top: 16px;
  color: $primary-color;

  @media screen and (min-width: $breakpoint-medium) {
    width: 80%;
  }
}
